body {
    background-color: #e2ac7f;
    width: 800px;
    margin: 0 auto;
    padding: 10px;
    text-align: center
}

#wrap {
    background-color: #f5f5dc;
    border-style: dashed;
}


h1 {
    margin-top: 0;
    border-bottom-style: dashed;
    font-style: italic;
    font-weight: bold;
    font-family: fantasy;
}

p {
    text-align: justify;
    padding: 15px;
}

p.copyright {
text-align: center;
}
li::first-letter {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}

ul {
    font-style: italic;
    list-style-type: none;
}