body {
width: 800px;
margin: auto auto;
padding: 20px;
}
#wrap {
    background-color: #0079FF;
    padding: 10px;
}

ul {
    text-align: center;
    list-style-type: none;
}

li::first-letter {
    font-weight: bold;
}